<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/about.css">
    <title>starling</title>
</head>
<body>
    <div class="content">

        <div class="header">
            <div class="header__name">Starling</div>
            <img class="header_logo" src="images/starling.png">
        </div>

        <div class="about">
            <div class="about__text">
                <p class="center">
                    Starling - это</p> <p>быстрый, удобный мессенджер,</p> <p>с помощью которого можно легко общаться с родными и друзьями!
                </p>
            </div>
        </div>

        <a href="/chat" class="enter"><div class="enter__text">перейти</div></a>

        <div class="redirect">
            <a href ="/login" class="login">войти</a>
            <a href="/register" class="register">регистрация</a>
        </div>

        <div class="footer">
            <div class="footer__container">
                <div class="naming">
                    <div class="naming__text">
                        made by rosto4eks
                    </div>
                </div>
                <div class="company">
                    <div class="company__text">
                        © Starling 2022
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>