<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/chat.css">
    <title>starling</title>
</head>
<body>
    <div class="content">

        <div class="header">
            <a href="/chats" class="back"></a>
            <div class="chat__name"><div class="chat__name__text">{{name}}</div></div>
            {{#if author}}
                <a class="menu__button"><img class="menu__image" src="/images/menu.png"></img></a>
            {{/if}}
        </div>

        {{#if author}}
           <div class="menu">
               <button class="change__button">изменить</button>
               <button class="delete__button">удалить</button>
           </div>
        {{/if}}

        <ul class="messages">
        </ul>

        <div class="footer">
            {{#if public}}
            <form class="form">
                <input type="text" class="input" autocomplete="off" placeholder="Сообщение">
                <button class="button"></button>
            </form>
            {{/if}}
        </div>
    </div>

    <div class="typing"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script src={{js}}></script>

</body>
</html>