body {
    margin: 0;
    padding: 0;
    background-color: #275a49;
}
.content {
    margin: 10% 10px 10px 10px;
}
.marginer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}
.error {
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    font-size: 45px;
    color: #212121;
}
.button {
    width: 40%;
    margin: 10% auto;
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    font-size: 25px;
    border: none;
    text-decoration: none;
    border-radius: 15px;
    padding: 8px 5px 8px 5px;
    background-color: #212121;
    color:#275a49;
    box-shadow: 0 5px 5px 0 #00000080;
    transition: 400ms;
}
.button:hover {
    transition: 400ms;
    transform: scale(1.05);
    box-shadow: 0 5px 10px 0 #00000080;
}

@media (max-width: 800px) {
    .button {
        width: 60%;
    }
}