body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #1d1d1d,  #1d1d1d, #1a7741);
}
li {
    list-style-type: none;
    font-size: 40px;
    margin-top: 30px;
}
.header {
    background-color: #1d1d1de6;
    z-index: 1;
    top: 0;
    position: sticky;
    height: 60px;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #fafafa;
    display: flex;
    width: 100%;
}

.header__name {
    margin: auto 0 auto 50px;
}
.header_logo {
    height: 30px;
    margin: auto 0 auto 10px;
}
.enter {
    text-decoration: none;
    color: #fafafa;
    margin: auto 50px auto auto;
    transition: 400ms;
}
.enter:hover {
    transform: scale(1.05) translateY(2px);
    transition: 400ms;
}
.about {
    font-family: 'Mulish', sans-serif;
    font-size: 50px;
    letter-spacing: 3px;
    font-weight: 800;
    color: #fafafa;
    display: flex;
    margin: 0;
}
.about__text {
    display: flex;
    width: 70%;
}
.starling {
    margin: 100px auto; 
}
.l-1 {
    opacity: 0;
    animation-name: enter;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    color:#cfeecf;
    margin-top : 50px;
}
.l-2 {
    opacity: 0;
    animation-name: enter;
    animation-duration: 1.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    color:#b6eab6;
    margin-top : 50px;
    margin-left: 30px;
}
.l-3 {
    opacity: 0;
    animation-name: enter;
    animation-duration: 1.5s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
    color:#aef2ae;
    margin-top : 50px;
    margin-left: 60px;
}
.about__image {
    padding-left: 10px;
    overflow: hidden;
    width: 30%;
}
.phone {
    height: 600px;
    margin: 30px auto 30px;
}
.blog {
    opacity: 0;
    animation-name: enter;
    animation-duration: 1.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    display: flex;
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-weight: 800;
    width: 100%;
}
.avatar {
    display: flex;
    margin-top: 50px;
    margin-left: 15%;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: blueviolet;
    color: #f4f4f4;
    border-radius: 50%;
}
.avatar__image {
    margin: auto;
    width: 60%;
    height: 60%;
}
.blog__text {
    margin: 50px auto 50px 10px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 5px 80px 80px 80px;
    background-color: #fafafa;
}
.b-1 {
    color: #2e2e2e;
    margin-top: 50px;
    margin-left: -50px;
}
.b-2 {
    color: #272727;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}
.redirect {
    background: #212121;
    display: flex;
    width: 100%;
}
.login {
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    font-size: 35px;
    letter-spacing: 3px;
    font-weight: 800;
    color: #fafafa;
    border-radius: 15px;
    margin: 50px auto;
    transition: 400ms;
}
.login:hover {
    transform: scale(1.1) translateY(5px);
    transition: 400ms;
}
.register {
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    font-size: 35px;
    letter-spacing: 3px;
    font-weight: 800;
    color: #fafafa;
    border-radius: 15px;
    margin: auto auto 50px;
    transition: 400ms;
}
.register:hover {
    transform: scale(1.1) translateY(5px);
    transition: 400ms;
}
.count__text {
    display: flex;
    flex-direction: column;
    color: #fafafa;
    font-family: 'Mulish', sans-serif;
    font-size: 32px;
    letter-spacing: 3px;
    font-weight: 800;
    text-align: center;
}

.footer {
    width: 100%;
    color: rgb(243, 243, 243);
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 2px;
    text-align: center;
}
.footer__container {
    display: flex;
    width: 100%;
    max-width: 1600px;
    margin: 0px auto;
}
.naming {
    width: 50%;
}
.naming__text {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    margin: 3% 0 1%;
}
.company {
    width: 50%;
}
.company__text {
    font-family: 'Mulish', sans-serif;
    font-size: 15px;
    margin: 3% 0 1%;
}

@media (max-width: 800px) {
    .header {
        font-size: 20px;
    }
    .header__name {
        margin-left: 20px;
    }
    .enter {
        margin-right: 20px; 
    }
    .about {
        flex-direction: column;
    }
    .starling {
        margin-top: 20px;
    }
    .about__text {
        width: 100%;
    }
    .about__image {
        display: flex;
        padding: 0;
        margin-left: auto;
        width: 100%;
    }
    .phone {
        margin: 10px auto 20px;
    }
    .count__text {
        font-size: 32px;
    }
    .blog {
        font-size: 32px;
    }
    .blog__text {
        padding-left: 40px;
        padding-right: 30px;
    }
    .b-1 {
        margin-left: -30px;
    }
    .b-2 {
        margin-left: 30px;
    }
    .redirect {
        flex-direction: column;
    }
}

@media (max-width: 550px) {
    .about {
        font-size: 28px;
        letter-spacing: 1px;
    }
    .count__text {
        font-size: 28px;
    }
    .blog {
        text-align: center;
        font-size: 23px;
    }
    .blog__text {
        padding-left: 5px;
        padding-right: 5px;
    }
    .b-1 {
        margin-left: 0;
    }
    .b-2 {
        margin-left: 0;
    }
    .login {
        font-size: 35px;
    }
    .register {
        font-size: 25px;
    }
    .login {
        font-size: 25px;
    }
}

::-webkit-scrollbar {
    width: 0px; 
}
::selection {
    background: #1c4538; 
}

@keyframes enter {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

