body {
    margin: 0;
    padding: 0;
    background-color: #bff3bf;
}

.header {
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 60px;
    letter-spacing: 2px;
    font-weight: 800;
    background-color: #bff3bf;
    border-radius: 0 0 20% 20%;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header__name {
    background-color: #ffffff;
    border-radius: 0 0 30% 50%;
    color:#8bcf89;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 2%;
}
.header_logo {
    width: 10%;
    margin: 2% auto 2% ;
}

.about {
    background-color: #bff3bf;
    display: flex;
    width: 100%;
    font-family: 'Mulish', sans-serif;
    font-size: 25px;
    font-weight: 600;
}
.about__text {
    background-color: #ffffff;
    box-shadow: 0 5px 20px 0 #00000080;
    padding: 0 5px 40px 5px;
    font-size: 30px;
    font-weight: 700;
    color:#5a5a5a;
    border-radius: 30px;
    width: 60%;
    margin: 2% auto 5%;
    transition: 400ms;
}
.about__text:hover {
    transform: scale(1.1);
    transition: 400ms;
}
.center {
    font-size: 40px;
    text-align: center;
}
.enter {
    color:#f7f7f7;
    text-decoration: none;
    width: 60%;
    display: flex;
    margin: 2% auto 5% auto;
    background-color: #474747;
    box-shadow: 0 5px 20px 0 #00000080;
    border-radius: 30px;
    padding: 10px 5px 10px 5px;
    transition: 400ms;
}
.enter:hover {
    background-color: #eeeeee;
    color: #383838;
    box-shadow: 0 5px 5px 0 #00000080;
    transition: 400ms;
}
.enter:active {
    background-color: #ffffff;
}
.enter__text {
    margin: 0 auto;
    font-family: 'Mulish', sans-serif;
    font-size: 28px;
    font-weight: 700;
    text-align: center;  
}
.count__text {
    width: 60%;
    border-radius: 30px;
    background-color: #f7f7f7;
    margin: 0 auto 5%;
    padding: 5px 5px 5px 5px;
    text-align: center;
    color:#5a5a5a;
    font-family: 'Mulish', sans-serif;
    font-size: 30px;
    font-weight: 800;
    box-shadow: 0 5px 20px 0 #00000080;
    transition: 400ms;
}
.count__text:hover {
    transform: scale(1.1);
    transition: 400ms;
}
.redirect {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #474747;
    padding: 0 5px 0 5px;
    font-family: 'Mulish', sans-serif;
    font-size: 25px;
    font-weight: 700;
}
.login {
    color:#ffffff;
    text-decoration: none;
    border-radius: 30px;
    margin: 2% 0 2%;
    width: 30%;
    background-color: #8bcf89;
    padding: 10px 5px 10px 5px;
    box-shadow: 0 5px 20px 0 #00000080;
    transition: 400ms;
}
.login:hover {
    background-color: #abf0ba;
    color: #383838;
    box-shadow: 0 5px 5px 0 #00000080;
    transition: 400ms;
}
.login:active {
    background-color: #ffffff;
}
.register {
    color:#ffffff;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 5px 10px 5px;
    margin: 2% 0 2%;
    width: 30%;
    background-color: #8bcf89;
    box-shadow: 0 5px 20px 0 #00000080;
    transition: 400ms;
    
}
.register:hover {
    background-color: #abf0ba;
    color: #383838;
    box-shadow: 0 5px 5px 0 #00000080;
    transition: 400ms;
}
.register:active {
    background-color: #ffffff;
}

.footer {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    background-color:#2a2a2a;
    color: #d8d8d8;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 2px;
    text-align: center;
}
.footer__container {
    display: flex;
    width: 100%;
    max-width: 1600px;
    margin: 0px auto;
}
.naming {
    width: 50%;
}
.naming__text {
    margin: 2% 0 1%;
}
.company {
    width: 50%;
}
.company__text {
    margin: 2% 0 1%;
}

@media (max-width: 800px) {
    .footer {
        font-size: 14px;
    }
    .about__text {
        width: 80%;
        font-size: 25px;
    }
    .center {
        font-size: 35px;
    }
    .enter {
        width: 80%;
    }
    .redirect {
        flex-direction: column;
    }
    .count__text {
        width: 80%;
    }
    .login, .register {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}