body {
    margin: 0;
    padding: 0;
    background-color: #252525;
    overflow-y: hidden;
}
ul {
    padding: 0;
    height: 92vh;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1000px;
    overflow-y: scroll;
    overflow-x: hidden;
}
li {
    animation: show 0.4s 1;
    white-space: nowrap;
    width: 100%;
    transition: 400ms;
    list-style-type: none;
    font-family: 'Mulish', sans-serif;
    font-size: 25px;
    font-weight: 600;
    border-bottom: 2px solid #1c1c1c;
    overflow: hidden;
}
li:hover {
    background-color: #1c1c1c;
    box-shadow: 0 20px 20px 0 #00000080;
    transform:translateY(5px);
    transition: 400ms;
}
a {
    display: flex;
    text-decoration: none;
}
.header {
    margin: 0;
    font-family: 'Mulish', sans-serif;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #1c1c1c;
}
.logo {
    height: 40px;
}
.about {
    margin: auto auto auto 30px;
    transition: 400ms;
}
.about:hover {
    transform: scale(1.05) translateY(2px);
    transition: 400ms;
}
.create {
    color: #ececec;
    margin: auto;
    transition: 400ms;
}
.create:hover {
    transform: scale(1.05) translateY(2px);
    transition: 400ms;
}
.logout {
    color: #ececec;
    margin: auto 30px auto auto;
    transition: 400ms;
}
.logout:hover {
    transform: scale(1.05) translateY(2px);
    transition: 400ms;
}
.circle {
    margin: auto 0 auto 10px;
    border-radius: 50%;
    width: 15px;
    min-width: 15px;
    height: 15px;
}
.chat__name {
    font-size: 20px;
    color: #ececec;
    padding: 10px 0 10px 20px;
}


::-webkit-scrollbar {
    width: 0px; 
}

@media (max-width: 800px) {
    .header {
        font-size: 20px;
    }
}


@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}