body {
    margin: 0;
    padding: 0;
    background-color: #272727;
}
input {
    padding: 8px 20px 8px 20px;
}
.header {
    margin-top: 10px;
    background-color: #6ab36a;
    width: 60%;
    box-shadow: 0 5px 20px 0 #00000080;
    border-radius: 0 20px 20px 0;
}
.header__text {
    margin-left: 20%;
    color: #f4f4f4;
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    font-size: 50px;
}
.header__image {
    display: flex;
    width: 10%;
    margin: 2% auto 0 auto;
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
}
.login__form {
    background-color: #f1f1f1;
    padding: 30px 10px 30px 10px;
    border-radius: 20px;
    margin: 20px 20% 0 20%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 10px 0 #00000080;
}
.errorMessage {
    color: red;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin: 0 0 10px 10px;
}
.login__login {
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    background-color: #2c2c2c;
    color:#e2e2e2;
    transition: 300ms;
    box-shadow: 0 5px 5px 0 #00000080;
}
.login__login:focus {
    background-color: #2c2c2c;
    border: 3.5px #9deb9d solid;
    transition: 300ms;
    outline: none;
}
.login__name {
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    margin-top: 5%;
    background-color: #2c2c2c;
    color:#e2e2e2;
    transition: 300ms;
    box-shadow: 0 5px 5px 0 #00000080;
}
.login__name:focus {
    background-color: #2c2c2c;
    border: 3.5px #9deb9d solid;
    transition: 300ms;
    outline: none;
}
.login__password {
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    background-color: #2c2c2c;
    margin-top: 5%;
    color:#e2e2e2;
    box-shadow: 0 5px 5px 0 #00000080;
    transition: 300ms;
}
.login__password:focus {
    border: 3.5px #9deb9d solid;
    transition: 300ms;
    outline: none;
}

.login__button {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    padding: 8px 0 8px 0;
    background-color: #9deb9d;
    margin-top: 5%;
    color:#212121;
    box-shadow: 0 5px 5px 0 #00000080;
    transition: 400ms;
}
.login__button:hover {
    box-shadow: 0 5px 10px 0 #00000080;
    background-color: #7edd7e;
    transform: scale(1.02);
    transition: 400ms;
}
.login__button:active {
    background-color: #7edd7e;
    transform: scale(0.95);
    transition: 400ms;
}
.buttons {
    display: flex;
    justify-content: space-between;
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    font-size: 18px;
    margin: 5% 20% 0 20%;
}
.button {
    width: 48%;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 15px;
    padding: 8px 0 8px 0;
    background-color: #f1f1f1;
    color: #222222;
    box-shadow: 0 10px 10px 0 #00000080;
    transition: 400ms;
}
.button:hover {
    background-color: #a9d4a9;
    box-shadow: 0 5px 5px 0 #00000080;
    transform: translateY(5px) scale(1.05);
    transition: 400ms;
}
@media (max-width: 800px) {
    .header {
        width: 80%;
    }
    .header__text {
        font-size: 36px;
    }
    .header__image {
        width: 20%;
    }
    .login__form {
        margin: 10px 10% 0 10%;
    }
    .buttons {
        margin: 5% 10% 0 10%;
    }
}

::-webkit-scrollbar {
    width: 0px; 
}